target
build
.gradle
wallet_db
bdk_ffi_test
local.properties
*.log
*.dylib
*.so
*.db
*/data/signet
.DS_Store
testdb
xcuserdata
.lsp
.clj-kondo
.idea/
.editorconfig
bdk.kt
bitcoin.kt

# Swift related
/.build
.swiftpm
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
bdkFFI.xcframework.zip
bdkFFI
libbdkffi.a
bdkFFI.h
BitcoinDevKitFFI.h
BitcoinDevKit.swift
bdk.swift
.build
*.xcframework/
Info.plist
BitcoinFFI.h
Bitcoin.swift
BitcoinFFi.modulemap
bdkffi.xcframework
Sources/

# Python related
__pycache__
bitcoin.py
