name: Run All Live Tests
on: 
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0' # Once per week

permissions: {}

jobs:
  swift-tests:
    name: "Build and test iOS library on macOS"
    runs-on: macos-14
    steps:
      - name: "Checkout"
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: "Build Swift package"
        working-directory: bdk-swift
        run: bash ./build-xcframework.sh

      - name: "Run live Swift tests"
        working-directory: bdk-swift
        run: swift test
