name: Test Kotlin/JVM
on:
  workflow_dispatch:
  push:
    paths:
      - "bdk-ffi/**"
      - "bdk-jvm/**"
  pull_request:
    paths:
      - "bdk-ffi/**"
      - "bdk-jvm/**"

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: "Check out PR branch"
        uses: actions/checkout@v4

      - name: "Cache"
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ./target
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.toml','**/Cargo.lock') }}

      - name: "Set up JDK"
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: "Run JVM tests"
        run: |
          cd bdk-jvm
          bash ./scripts/build-linux-x86_64.sh
          ./gradlew test -P excludeConnectedTests
