name: Test Kotlin/JVM
on:
  workflow_dispatch:
  push:
    paths:
      - "bdk-ffi/**"
      - "bdk-jvm/**"
  pull_request:
    paths:
      - "bdk-ffi/**"
      - "bdk-jvm/**"

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out PR branch
        uses: actions/checkout@v2

      - name: Cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ./target
          key: ${{ runner.os }}-${{ hashFiles('**/Cargo.toml','**/Cargo.lock') }}

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          distribution: temurin
          java-version: 11

      - name: "Set default Rust version to 1.67.0"
        run: rustup default 1.67.0

      - name: Run JVM tests
        run: |
          cd bdk-jvm
          ./gradlew test --console=rich
